
<ul>
    <li class="mb-3"><img src="../../assets/img/marshmallow.png" width="25px" height="25px">&nbsp;&nbsp;&nbsp;<strong>116</strong></li>
    <li class="mb-3"><img src="../../assets/img/acorn.png" width="25px" height="25px">&nbsp;&nbsp;&nbsp;<strong>213</strong></li>
    <li class="mb-3"><img src="../../assets/img/hook.png" width="25px" height="25px">&nbsp;&nbsp;&nbsp;<strong>21</strong></li>
    <li><img src="../../assets/img/water.png" width="25px" height="25px">&nbsp;&nbsp;&nbsp;<strong>30</strong></li>
</ul>
